body {
  font-family: 'Roboto Mono', monospace;
}

#search-filter-wrapper {
  background: #333;
  bottom: 20px;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  position: fixed;
  right: 0;
  width: 400px;
  z-index: 2;
}

#search-filter {
  border: 2px solid #333;
  border-right: none;
  display: block;
  outline: 0;
  padding: 10px;
  width: 300px;
}

#reset-search {
  border: 2px solid #333;
  background: tomato;
  display: block;
  outline: 0;
  padding: 10px;
}

#no-results {
  background: #fcfcfc;
  color: tomato;
  margin: 40px auto 0;
  padding: 20px;
  text-align: center;
  width: 400px;
}

#overlay {
  background-color: rgba(0,0,0,0.6);
  background-position: center;
  background-size: cover;
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0.8;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

#overlay h4 {
  background-color: #000;
  color: #fff;
  display: block;
  margin: 30px auto 0;
  padding: 20px 0;
  text-align: center;
  width: 85%;
}

#overlay #text {
  background: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 20px 20px;
  transition: all 200ms ease-in;
  width: 85%;
}

#overlay .hd-link {
  display: block;
  margin: 40px auto 0;
  text-align: center;
  width: 150px;
}

.card {
  cursor: pointer;
  background-position: center;
  background-size: cover;
  height: 25vh;
  opacity: 1;
}

.card:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  #overlay #text {
    font-size: 18px;
  }

  .card {
    opacity: 0.5;
  }
}
